# Replace "<S3_BUCKET_NAME>" with s3 bucket name where terraform state file will be stored.
bucket = "portkey-tf-state"

# Replace "<S3_KEY_PATH>" with key where terraform state file will be written to (e.g., portkey-gateway/terraform.tfstate).
key = "local/portkey-gateway/terraform.tfstate"

# Replace "<AWS_REGION>" with AWS region in which S3 bucket resides (e.g., portkey-gateway/terraform.tfstate).
region = "us-east-1"